@media only screen and (min-width: 768px) {
  .side_drawer {
    display:none;
  }

}

@media only screen and (max-width: 768px) {
  .homepage_sidebar {
    display:none;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&family=Mukta:wght@300&family=Source+Sans+Pro&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.font1{
  font-family: 'Jost', sans-serif;
}

.card{
  border-radius: 20px;
}

.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.homepage_body{
background-color: #fff;
height: 100vh;
width: 100vw;
display: flex;
}

.homepage_sidebar{
  flex:3.4;
}

.homepage_chatpanel{
  flex:7.6;
}

.sidebar_head{
  display: flex;
  justify-content: space-between;
  padding:0;
  margin: 0;
  background-color: #e9ecef;
  height: 70px;
  border-bottom: 1px solid #bfc0c0;
}

.head_icon{
  display: flex;
  align-items: center;
}

.sidebar_search{
  background-color: #d9d9d9;
  padding: 8px 6px;
  border-bottom: 1px solid #bfc0c0;
  
}

.search_container{
background-color: white;
}

.search_container > input{
  border: none;
width: 100px;
}

.search_container > input:focus{
  outline: none;
}

.search_container > input:focus::placeholder {
  color: transparent;
}

.sidebar_chats{
  height: 100vh;
  overflow-wrap: normal;
  background-color: hsl(0, 0%, 100%);
  overflow-y: scroll;
}
.sidebarchat_item:last-child{
  margin-bottom: 120px;
}

.sidebarchat_item{
  padding: 0 15px;
  background-color: #e9ecef;
  border-bottom: 0.5px solid #bfc0c0;
}

.sidebarchat_item:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}

.avatarImg {
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.chatInfo{
  display: flex;
  flex-direction: column;
}

.newChat{
  background-color: #e9ecef;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 0.5px solid #bfc0c0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.newChat h3 {
  margin-left: 10px;
}

.newChat:hover{
  background-color: #d9d9d9;
  cursor: pointer;
}



/* Scrollbar */
.sidebar_chats::-webkit-scrollbar-track
{
	background-color: #e9ecef;
}

.sidebar_chats::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.sidebar_chats::-webkit-scrollbar:hover
{
	width: 5px;
	background-color: #F5F5F5;
  padding-right: 1px;
}

.sidebar_chats::-webkit-scrollbar-thumb
{
	background-color: gray;
}

.chatpanel_body::-webkit-scrollbar-track
{
	background-color: #e9ecef;
}

.chatpanel_body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.chatpanel_body::-webkit-scrollbar:hover
{
	width: 5px;
	background-color: #F5F5F5;
  padding-right: 1px;
}

.chatpanel_body::-webkit-scrollbar-thumb
{
	background-color: gray;
}


/* ChatPanel */
.chatpanel{
display:flex;
flex-direction: column;
height:100vh;
overflow:hidden;
}

.chat_head_container{
  position: sticky;


}

.chatpanel_head{
padding:0 20px;

display: flex;
align-items: center;

justify-content: space-between;
margin: 0;
background-color: #e9ecef;
height: 70px;
border-left: 1px solid #bfc0c0;
}



.chatpanel_head_info p, h5{
  margin: 0;
  padding:0;
}

.chatpanel_body{
  overflow-y: scroll;
  flex-grow: 1;
  background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-2800x2800.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.chatslist{
  padding:10px 15px
}
.chatslist h1{
  padding:0;
  margin:0;
}

.text_item{
  background-color: #069e2d;
  width: fit-content;
  padding: 5px 10px;
  color:white;
  border-radius: 15px;
  font-size: larger;
  
}

.sender_name{
  color: red;
  bottom: 38px;
  font-size: small;
  margin-left: 8px;
  font-weight:500;
}



.chatpanel_footer{
  padding:15px;
  background-color: #d9d9d9;
  
}

.footer_container > input{
  border: none;
  width: 100%;
}

.footer_container > input:focus{
  outline: none;
}

.footer_container > input:focus::placeholder {
  color: transparent;
} 




.send_btn:focus{
  outline: none;
  box-shadow: none;
}



/* Drawer */

.offcanvas{
  width: 80%;
}
.offcanvas-body{
  overflow: hidden;
}
.ofc_btn:focus {
  outline: none;
  box-shadow: none;
  }
